<div class="container-fluid">
  <div class="row">
    <div class="span12 pull-center">
      <div class="alert alert-info">
	<h1> <span class="label label-info">Measurement ID</span> <%= @measurement.id %> </h1>
	<h3> <span class="label label-info">Comment</span> <%= @measurement.comment %></h3>
      </div>
    </div>
  </div>
</div>

<div align="right">
<%= link_to  'Export CSV', export_csv_path, method: "GET", class: "btn btn-primary" %>
</div>

<div align="center">
<%= link_to  'Auto Reload Graph', auto_reload_path, method: "GET", class: "btn btn-info" %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#Graph" data-toggle="tab">Graph</a></li>
  <li><a href="#Data" data-toggle="tab">Data</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="Graph">
    <%= image_tag "/images/graph-#{@measurement.id}.png" %>
  </div>

  <div class="tab-pane" id="Data">
    <% if @measurement.records.any? %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
     	  <tr><th>ID</th><th>Depth</th><th>x</th><th>y</th></tr>
      </thead>
      <tbody>
	      <% @measurement.records.each do |r| %>
	      <tr>
        <td><%= r.id %></td>
	      <td><%= r.depth %></td>
	      <td><%= r.x %></td>
	      <td><%= r.y %></td>
	      </tr>
	      <% end %>
      </tbody>
    </table>
    <% else %>
      <h4>No data yet.</h4>
    <% end %>
  </div>
</div>
