<h1> Measurement ID:<%= @measurement.id %> </h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#Graph" data-toggle="tab">Graph</a></li>
  <li><a href="#Data" data-toggle="tab">Data</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="Graph">
        
  </div>

  <div class="tab-pane" id="Data">
    <% if @measurement.records.any? %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
	<tr><th>ID</th><th>Depth</th><th>Latitude</th><th>Longitude</th></tr>
      </thead>
      <tbody>
	<% @measurement.records.each do |r| %>
	<tr><td><%= r.id %></td>
	  <td><%= r.depth %></td>
	  <td><%= r.latitude %></td>
	  <td><%= r.longitude %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
    <% else %>
    <h4>No data yet.</h4>
    <% end %>
  </div>
</div>


