<h1>Information of System</h1>


<table class="table table-striped table-bordered">
	<thead>
		<tr><th>Item</th><th>Value</th></tr>
	</thead>
	<tbody>
		<tr><td>uname</td><td><%= @uname %></td></tr>
		<tr><td>uptime</td><td><%= @uptime %></td></tr>
		<tr><td>df</td><td><%= @df %></td></tr>
		<tr><td>mem_splits</td><td><%= @mem_splits %></td></tr>
		<tr><td>free</td><td><%= @free %></td></tr>
		<tr><td>cpu_temp</td><td><%= @cpu_temp %></td></tr>
		<tr><td>cpu_info</td><td><%= @cpu_info %></td></tr>
	</tbody>
</table>
